.app__radioButtons {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 0;
  opacity: 0;
  &--button {
    display: none;
    margin-right: 15px;
  }
}

label {
  display: flex;
  align-items: center;
  justify-items: left;
}

.app__submitButton {
    display: flex;
    align-items: center;
    justify-content: center;
    &--button {
        background: $appBackground;
        color: $textColor;
        margin: 30px;
        height: 40px;
        width: 80%;
        border: none;
        font-family: 'Crimson Pro', serif;
        font-size: 20px;
        border-radius: 30px;
        box-shadow: 3px 3px 5px $magentaDark, -3px -3px 5px $magentaBright;   
        @media (min-width: $tablet){
          width: 60%;
        }
        @media (min-width: $desktop){
          width: 20%;
        }
      }
}
