.app__radioButtons {
  display: grid;
  grid-template-columns: 10% 90%;
  justify-items: left;
  align-items: center;
  height: 0;
  opacity: 0;
  &--button {
    display: none;
    margin-top: -2px; 
    width: 20px;
    height: 20px;
  }
}

.app__submitButton {
    display: flex;
    align-items: center;
    justify-content: center;
    &--button {
        background: $appBackground;
        color: $textColor;
        margin: 30px;
        height: 40px;
        width: 80%;
        border: none;
        font-family: 'Crimson Pro', serif;
        font-size: 20px;
        border-radius: 30px;
        box-shadow: 3px 3px 5px $magentaDark, -3px -3px 5px $magentaBright;   
  }
}
