
.app__chat {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    position: sticky;
    top: 0;
    background: $transparentMagenta;
}