// colors
$appBackground: #c20064;
$textColor: #ffffff;
$magentaBright: #dd0072;
$magentaDark: #91004b;
$gradientMagenta: linear-gradient(
  0deg,
  rgba(255, 255, 255, 0) 0%,
  rgba(221, 0, 114, 1) 35%,
  rgba(221, 0, 114, 1) 50%,
  rgba(221, 0, 114, 1) 65%,
  rgba(255, 255, 255, 0) 100%
);
// resolutions
$tablet: 768px;
$desktop: 960px;
