// colors
$chatBackground : #000000;
$chatTextColor: #ffffff;
$buttonsBackground : #690000;
$buttonsTextColor: #ffffff;
$submitButtonBackground: #008f1f;
$submitButtonTextColor: #f0f0f0;
$questionBackground : #004680;
$questionTextColor: #ffffff;
$storyBackground: #3f3080;
$storyTextColor: #ffffff;
// resolutions
$mobile: 520px;
$tablet: 768px;
$desktop: 960px;


