@import "_variables";

.app {
    &__chat {
        background: $chatBackground;
        color: $chatTextColor;
        width: 500px;
        height: 200px;
    }
    &__story {
        background: $storyBackground;
        color:$storyTextColor;
    }
}